.app   {
    margin: 1rem;
    padding: 1rem;
}
table{
    border: solid 1px #b3b3b3;
    margin: 1rem;
    min-width: 20px;
    min-height: 20px;
}
td{
    min-width: 15px;
    text-align: center;
}
td:hover{
    background: #eee;
    cursor: pointer;
}
button{
    margin: .3rem;
}
button.active{
    outline: solid 3px #7978b3;
}
.flex-container{
    display: flex;
}
.sidebar{
    display: flex;
    flex-direction: column;
}
.working-field{
    background: #dedede;
    width: 800px;
    height: 600px;
}